<?php

/**
 * @file
 * Default theme implementation for a packery grid views display.
 *
 * Available variables:
 * - items: The packery items.
 * - attributes: The packery wrapper attributes.
 *
 */
?>
<div {{ attributes }}>
  {% for item in items %}
    <div {{ item.attributes }}>{{ item.content }}</div>
  {% endfor %}
</div>
